# faster-whisper will be installed separately to handle av compatibility
websockets
onnxruntime==1.16.0
ffmpeg-python
scipy
websocket-client
tiktoken==0.3.3
kaldialign
braceexpand
openai-whisper
whisperspeech
soundfile
